* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.container-sections {
  /* border: 1px solid #e3e3e3; */
  min-height: calc(100dvh - 78px);
} 

.task-card {
    width: 100%;
    border-left: 4px solid red;
}
.card-text {
  font-size: 16px;
  margin: 4px
}
.user-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: 3px solid #d3d3d3;
    position: relative;
    z-index: 1;
    transition: all .3s ease-in-out;
}
.user-image:not(:first-child) {
    margin-left: -30px;
}
.user-image:hover {
  z-index: 100;
}
.creator,
.creator-date {
  font-size: 14px;
  margin: 0;
}